# Default ignored files
/shelf/
/workspace.xml
misc.xml
modules.xml
vcs.xml
workspace.xml
InsuranceSystem.iml
README.md
boonsan0517.eml
boonsan0517.iml
boonsan_0515.iml
javax_activation_1_2_0.xml
javax_mail.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
